<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="fragments/headerfiles.html :: headerfiles"/>
    <th:block th:include="fragments/headerfiles.html :: headertitle"/>
    <link rel="stylesheet" th:href="@{/css/topMenu.css}"/>
</head>
<body>
    <header th:insert="fragments/topMenu :: topMenu"></header>
    <div id="mainDiv">
        <div id="titleDiv">
            <h1>Добро пожаловать!</h1>
        </div>
        <div>
            <div th:each="note: ${notes}" id="noteText">
                <details>
                    <summary>
                        <span th:text="${note.title}" ></span>
                        <span style="float: right">Последнее изменение:
                            <span th:text="${#dates.format(note.lastUpdate, 'EEE, d MMM yyyy HH:mm')}"></span></span>
                        <span>Автор: <span th:text="${note.authorName}"></span></span>
                    </summary>
                    <p th:utext="${note.content}"></p>
                </details>
            </div>
        </div>
        <a href="/addNote">
            <button class="addNoteButton" type="submit">+</button>
        </a>
    </div>
</body>
</html>